.site{
    position: relative;
    top: 150px;
}

.haut {
    background-color: aqua;
    height: 20px;
    margin: 0%;
}

.coucou {
    color: blue;
    text-align: center;
    margin: 0%;
    font-size: 20px;
}

.menu_mur {
    background-color: red;
    position: relative;
    left: 0px;
    top: -700px;
    height: 700px;
    width: 100px;
    margin: 0%;
}

.mur {
    color: white;
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 20px;
    margin: 0%;
}

.contenu {
    background-color: green;
    position: relative;
    height: 700px;
    margin: 0%;

}

.arbre {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 300px;
}

.parbre {
    color: white;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 330px;
}

.bas {
    background-color: grey;
    height: 20px;
    margin: 0%;
    position: relative;
    top: -700px;
}

.sol {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 20px;
}